<a href="https://colab.research.google.com/github/411600264/Introduction-to-Computers/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [49]:
testlist=[1,2,3,4,5]
for i in testlist:
    print(i)

1
2
3
4
5

In [50]:
a="python"

In [51]:
for i in a:
  print(i)

p
y
t
h
o
n

In [59]:
n=int(input("請輸入整數:"))

請輸入整數:11

In [60]:
for i in range(2,n):
  if n%i == 0:
    print(str(n)+"不是質數")
    break
else:
  print(str(n)+"是質數")

11是質數

In [63]:
i=0
while i<5:
  print(i)
  i+=1

0
1
2
3
4

In [107]:
for i in range(1,10):
  for j in range(1,10):
   
  
    if j ==9:
      print(str(i)+"*"+str(j)+"="+str(i*j))
    else:
      print(str(i)+"*"+str(j)+"="+str(i*j),end="\t")

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [113]:
letters=["apple","b","c","frog","g"]
print(letters[0])

apple

In [116]:
print(list("steak"))

['s', 't', 'e', 'a', 'k']

In [118]:
breakfast=("sandwich","milk")
print(list(breakfast))

['sandwich', 'milk']

In [120]:
date="2023/6/5"
print(date.split("/"))

['2023', '6', '5']

In [125]:
date="2023/6/5"
print(date.split("/",1))

['2023', '6/5']

In [132]:
print(["1","2","3"])
print(list("123456789"))
print("126345".split())

['1', '2', '3']
['1', '2', '3', '4', '5', '6', '7', '8', '9']
['126345']

In [136]:
print(len(letters))
print(letters.index("frog"))
print("frog" in letters)
print("frog" not in letters)

5
3
True
False

In [146]:
red=["flower","blood","hair","cloud","hair","bird","cake"]
print(red.count("hair"))
print(red.count("apple"))
print(red[0])
print(red[-1])
print(red[:])
print(red[3:])
print(red[:5])

2
0
flower
cake
['flower', 'blood', 'hair', 'cloud', 'hair', 'bird', 'cake']
['cloud', 'hair', 'bird', 'cake']
['flower', 'blood', 'hair', 'cloud', 'hair']

In [156]:
n = int(input("輸入:"))
if n>=0 and n%2==0:
  print(str(n)+"is even")
elif n>=0 and n %2!=0:
  print(str(n)+"is odd")
else:
  print("Input Error")

輸入:50
50is even

In [157]:
a=0
for i in range(1,101):
  a+=i
print(a)

5050

In [188]:
n=int(input("請輸入數字:"))
print(100000*(1+0.03)**n)
if n>=0:
  print(100000*(1+0.03)**n)
  else: n<=0
print("Input Error")

請輸入數字:-1
97087.3786407767

SyntaxError: ignored

In [193]:
a=input("輸入:").split()
print(a)
for i in a[:]:
  print("i=",i)
for i in a[0:2:1]:
  print("i=",i)
for i in a[::-1]:
  print("i=",i,end=" ")

輸入:apple cake banana
['apple', 'cake', 'banana']
i= apple
i= cake
i= banana
i= apple
i= cake
i= banana i= cake i= apple